.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height:481px;
    /* background-color: rgb(194, 177, 177); */
    background-color: rgb(224,224,224);
    margin-top:281px;
    flex-direction: column;
}

.footer-display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width:50%;
    
}

.footer-img {
    position: relative;
    top: -86px;
    left:22px;
}

.footer-img img{
    width:40%;
}

.phone{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -30px;
    left: -211px;
    
    
}

.phoneTo {
    font-size: 21px;
    padding-left: 22px;
    position: relative;
    left: -5px;
    color:rgb(12,82,159);
}



.about-email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    left: -151px;
    top: 46px;
}

.mailTo {
    font-size: 21px;
    padding-left: 22px;
}

.mailTo a {
    text-decoration: none;
 
    color:rgb(12,82,159);
}

.mailTo a:hover {
    text-decoration: underline;
    color:blue;
}

.footer-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    position: relative;
    top:-73px;

}

.footer-about-desc {
    position: relative;
    top: 51px;
    

}

.footer-about-head {
    font-size:30px;
    color:black;
    color:rgb(12,82,159);

}

.footer-about-contribute {
    position: relative;
    top: 155px;
    left: -233px;
}

.footer-about-contribute a {
    text-decoration: none;
    color: black;
    font-size: 20px;

}

.footer-about-contribute a:hover {
    text-decoration: underline;
    color:blue;
}

.footer-credit {
    /* border: 2px solid red; */
    width: 99.9%;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    height: 12%;
    top: 22%;
    background-color: black;
}

.credit-copyright {
    display: flex;
    justify-content: center;
    align-items:center;

}